body { 
    background: rgb(46, 46, 46);
    height: 100vh;
}

form {
    width: 450px;
}

input {
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}

button {
    cursor: pointer;
    margin-bottom: 10px;
}
